body {
    padding-top: 50px;
    padding-bottom: 20px;
        background: url('fresh-spring.jpg') center fixed

}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
max-width: 300px;
min-width: 60px;}

.backdrop {
    background-color: rgba(72, 111, 189, 0.45);
    padding: 20px 46px;
	border-radius: 5px;
    width:100%;
    min-width:initial;
    margin-top:30px;
}



h2,h3 {
                text-align: center;
}

h2 {
                font-family:'Century Gothic','Pathway Gothic One',sans-serif;
                                font-size:20px;

}

h1 {
                text-align: center;
                font-family:'Century Gothic','Pathway Gothic One',sans-serif;
                font-size:25px;
                font-weight: 200;
}

textarea {
        min-height: 180px;
}


.time-entry {
  width: 34px;
  height: 34px;
  font-size: 14px;

}

dt {
    margin-bottom:1px;
        margin-top:12px;
}


label {

font-weight:100;

}


