<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://calorie-counter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>calorie-counter.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>calorie-counter</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$calorie-counter</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WalkSession" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;Application Name=EntityFramework" Name="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WalkOffCalories.Models.WalkSession, WalkOffCalories" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_A12AA1_FitnessEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;Application Name=EntityFramework" Name="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A12AA1_FitnessEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.WalkSession.csdl|res://*/Models.WalkSession.ssdl|res://*/Models.WalkSession.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5030.smarterasp.net;initial catalog=DB_A12AA1_Fitness;user id=DB_A12AA1_Fitness_admin;password=Aerobolt4;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BurningWalk" Order="3" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;Application Name=EntityFramework" Name="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BurningWalk_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=sql5030.smarterasp.net;initial catalog=DB_A12AA1_Fitness;user id=DB_A12AA1_Fitness_admin;password=Aerobolt4;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BurningWalk-Web.config Connection String">
      <ParameterValue>data source=sql5030.smarterasp.net;initial catalog=DB_A12AA1_Fitness;user id=DB_A12AA1_Fitness_admin;password=Aerobolt4;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A12AA1_FitnessEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.WalkSession.csdl|res://*/Models.WalkSession.ssdl|res://*/Models.WalkSession.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WalkSession-Web.config Connection String">
      <ParameterValue>Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A12AA1_Fitness;User ID=DB_A12AA1_Fitness_admin;Password=Aerobolt4;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>